body{
    background-color: rgb(206, 206, 206);
}

h1{
    background-color: rgb(71, 71, 71);
    color: rgb(0, 129, 22);
}

h2{
    background-color: rgb(179, 179, 179);
    font-size: medium;
}

table, tr, td, th {
    border: solid 2px;
    padding: 5px;
}